Repository Moonsong-Labs/snowbridge, pull requests merged in 2025-05, with the labels that each got.

#11 test: :whale: Push Docker Images
  .github/CODEOWNERS
  .github/workflows/contracts.yml
  .github/workflows/control.yml
  .github/workflows/npm-publish.yml
  .github/workflows/relayer.yml
  .github/workflows/release-monitor.yml
  .github/workflows/release-relayer.yml
  .github/workflows/smoke-tests.yml
  relayer/.gitignore
  relayer/build-local-docker.sh
Labels: Component: Relayer

#10 feat: ✨ Use ecdsa signature scheme for parachain
  go.work.sum
  relayer/chain/parachain/connection_test.go
  relayer/chain/parachain/outgoing_extrinsics.go
  relayer/chain/parachain/private_key.go
  relayer/chain/parachain/writer.go
  relayer/cmd/run/beacon/command.go
  relayer/cmd/run/execution/command.go
  relayer/crypto/secp256k1/secp256k1.go
  relayer/crypto/sr25519/sr25519.go
  relayer/go.mod
  relayer/go.sum
  relayer/relays/beacon/header/syncer/syncer.go
  relayer/relays/beacon/main.go
  relayer/relays/beacon/state/beacon_deneb_encoding.go
  relayer/relays/beacon/state/beacon_electra_encoding.go
  relayer/relays/beacon/state/beacon_encoding.go
  relayer/relays/execution/main.go
  relayer/relays/parachain/main.go
Labels: Component: Relayer

#12 revert: :rewind: Go back to using old methods now that fork has changed to using eth sign and address
  go.work.sum
  relayer/chain/parachain/outgoing_extrinsics.go
  relayer/chain/parachain/writer.go
  relayer/go.mod
  relayer/go.sum
  relayer/relays/beacon/state/beacon_deneb_encoding.go
  relayer/relays/beacon/state/beacon_electra_encoding.go
  relayer/relays/beacon/state/beacon_encoding.go
Labels: Component: Relayer

#13 fix: :white_check_mark: Fix tests post upstream merge
  contracts/test/GatewayV2.t.sol
Labels: Component: Ethereum

#14 refactor: ✨ : parachain relayer -> solochain relayer
  contracts/src/BeefyClient.sol
  contracts/src/BeefyVerification.sol
  contracts/test/BeefyClient.t.sol
  contracts/test/GatewayV2.t.sol
  contracts/test/data/beefy-commitment.json
  relayer/chain/parachain/connection.go
  relayer/cmd/parachain_head_proof.go
  relayer/cmd/root.go
  relayer/cmd/run/parachain/command.go
  relayer/config/config.go
  relayer/contracts/beefy_client.go
  relayer/crypto/merkle/simplified_mmr_proof.go
  relayer/relays/beacon/header/header.go
  relayer/relays/beefy/fixture-data-logger.go
  relayer/relays/beefy/parameters.go
  relayer/relays/parachain/beefy-listener.go
  relayer/relays/parachain/config.go
  relayer/relays/parachain/digest_item.go
  relayer/relays/parachain/ethereum-writer.go
  relayer/relays/parachain/logger.go
  relayer/relays/parachain/main.go
  relayer/relays/parachain/merkle-proof.go
  relayer/relays/parachain/parachain-writer.go
  relayer/relays/parachain/scanner.go
  relayer/relays/parachain/types.go
  relayer/relays/parachain/types_test.go
Labels: Component: Relayer, Component: Ethereum
